{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div
  class="bg-cover bg-gradient-to-br from-[#7337FF] via-[#000000] to-[#0C7EA8]"
  style="background-image:url(https://res.cloudinary.com/dkt1t22qc/image/upload/v1742348950/Prestataires_Documents/fopt5esl9cgvlcawz1z4.jpg)">
  
  <div class="h-screen flex justify-center items-center backdrop-brightness-50">
    <div class="flex flex-col items-center space-y-8">
      
     
      <div>
        <h1 class="text-5xl font-bold text-white text-center">MyResume</h1>
      </div>

      <form method="post" class="w-80">
        
        <div
          class="rounded-[20px] w-full p-8 bg-[#310D84]"
          style="box-shadow:-6px 3px 20px 4px #0000007d">
          
          {% csrf_token %}

          <h1 class="text-white text-3xl font-bold mb-4">Login</h1>
          
          <div class="space-y-4">

            <input
              type="text"
              placeholder="Username"
              id="username"
              name="username"
              class="bg-[#8777BA] w-full p-2.5 rounded-md placeholder:text-gray-300 shadow-md shadow-blue-950" />
            
            <input
              type="password"
              placeholder="Password"
              id="password"
              name="password"
              class="bg-[#8777BA] w-full p-2.5 rounded-md placeholder:text-gray-300 shadow-md shadow-blue-950" />
          </div>
          
          <div class="mb-4">
            <a href="#" class="text-[#228CE0] text-[10px] ml-2 cursor-pointer"
              >Forget Password?</a
            >
          </div>
          
          <div class="flex justify-center mb-4">

            <button
              type="submit"
              class="h-10 w-full cursor-pointer text-white rounded-md bg-gradient-to-br from-[#7336FF] to-[#3269FF] shadow-md shadow-blue-950">
              Sign In
            </button>
          </div>
          
          <div class="text-gray-300 text-center">
            Don&#x27;t have an account?

            <a
              href="{% url 'app:signup' %}"
              class="text-[#228CE0] cursor-pointer">
              Sign up
            </a>
          </div>
        </div>
      </form>
      
    </div>
  </div>
</div>
{% endblock %}

